RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

Redirect 301 /acpsf http://danoc.github.io/responsive-talk
Redirect 301 /talks/responsive http://blog.danoc.me/post/44367862783/responsive-web-design-for-college-newspapers

RewriteRule ^page/([0-9]+) http://danoc.me/blog [R=301,L]

RewriteRule ^post/14447289066(.*) http://danoc.me/blog/plans-for-bupipedream [R=301,L]
RewriteRule ^post/14656793071(.*) http://danoc.me/blog/less-css-grid [R=301,L]
RewriteRule ^post/14730989330(.*) http://danoc.me/blog/early-preview [R=301,L]
RewriteRule ^post/14831427279(.*) http://danoc.me/blog/signs-of-progress [R=301,L]
RewriteRule ^post/15556391633(.*) http://danoc.me/blog/legible-articles [R=301,L]
RewriteRule ^post/15736692113(.*) http://danoc.me/blog/bupipedream-on-ipad [R=301,L]
RewriteRule ^post/15762559659(.*) http://danoc.me/blog/fit-for-a-smartphone [R=301,L]
RewriteRule ^post/15919857214(.*) http://danoc.me/blog/moving-to-wordpress [R=301,L]
RewriteRule ^post/15968416150(.*) http://danoc.me/blog/display-current-temperature [R=301,L]
RewriteRule ^post/16093529186(.*) http://danoc.me/blog/database-dump [R=301,L]
RewriteRule ^post/16096405227(.*) http://danoc.me/blog/highlight-wordpress-search-results [R=301,L]
RewriteRule ^post/16051985458(.*) http://danoc.me/blog/image-placement [R=301,L]
RewriteRule ^post/16258657840(.*) http://danoc.me/blog/pipe-dream-stats [R=301,L]
RewriteRule ^post/16358726729(.*) http://danoc.me/blog/imported-to-wordpress [R=301,L]
RewriteRule ^post/17670281132(.*) http://danoc.me/blog/launching-the-new-pipe-dream-website [R=301,L]
RewriteRule ^post/18714910407(.*) http://danoc.me/blog/from-college-publisher-to-wordpress [R=301,L]
RewriteRule ^post/18729689786(.*) http://danoc.me/blog/online-college-media [R=301,L]
RewriteRule ^post/19819620781(.*) http://danoc.me/blog/spring-fling-concert-announcement-takes-down-the-pipe [R=301,L]
RewriteRule ^post/19913228146(.*) http://danoc.me/blog/concert-layout [R=301,L]
RewriteRule ^post/20247289897(.*) http://danoc.me/blog/pipe-dream-todo-list [R=301,L]
RewriteRule ^post/20396276847(.*) http://danoc.me/blog/wordpress-site-sync [R=301,L]
RewriteRule ^post/20486429658(.*) http://danoc.me/blog/open-graph-preview [R=301,L]
RewriteRule ^post/20531600981(.*) http://danoc.me/blog/pipe-bomb-idea [R=301,L]
RewriteRule ^post/20572783627(.*) http://danoc.me/blog/this-facebook-notice-took-way-too-long-to-design [R=301,L]
RewriteRule ^post/20751376228(.*) http://danoc.me/blog/wordpress-article-deck [R=301,L]
RewriteRule ^post/26738967370(.*) http://danoc.me/blog/recent-updates [R=301,L]
RewriteRule ^post/34468850592(.*) http://danoc.me/blog/wordpress-pharma-hack [R=301,L]
RewriteRule ^post/34605192252(.*) http://danoc.me/blog/follow-pipe-dream-as-we-cover-hurricane-sandy-and [R=301,L]
RewriteRule ^post/35106617712(.*) http://danoc.me/blog/pipe-dream-visits-chicago [R=301,L]
RewriteRule ^post/36315431227(.*) http://danoc.me/blog/startup-deas [R=301,L]
RewriteRule ^post/36563960560(.*) http://danoc.me/blog/interview-with-camayak [R=301,L]
RewriteRule ^post/36572312098(.*) http://danoc.me/blog/pipe-dream-server [R=301,L]
RewriteRule ^post/36959614701(.*) http://danoc.me/blog/facebook-newsfeed [R=301,L]
RewriteRule ^post/37530763368(.*) http://danoc.me/blog/take-to-college-returns [R=301,L]
RewriteRule ^post/37881284935(.*) http://danoc.me/blog/moved-to-github [R=301,L]
RewriteRule ^post/38588385454(.*) http://danoc.me/blog/fall-2012 [R=301,L]
RewriteRule ^post/39614524151(.*) http://danoc.me/blog/pipe-dream-redesign [R=301,L]
RewriteRule ^post/40233716965(.*) http://danoc.me/blog/mobile-mockup [R=301,L]
RewriteRule ^post/43173313539(.*) http://danoc.me/blog/what-ive-been-up-to [R=301,L]
RewriteRule ^post/44044442923(.*) http://danoc.me/blog/pipe-dream-now-supports-twitter-cards-all-it [R=301,L]
RewriteRule ^post/44367862783(.*) http://danoc.me/blog/responsive-web-design-for-college-newspapers [R=301,L]
RewriteRule ^post/46073307231(.*) http://danoc.me/blog/spring-fling-announcement-and-analytics [R=301,L]
RewriteRule ^post/58523267332(.*) http://danoc.me/blog/obama-to-visit-binghamton-university [R=301,L]
RewriteRule ^post/61425706269(.*) http://danoc.me/blog/on-interning-at-optimizely [R=301,L]
RewriteRule ^post/61560908567(.*) http://danoc.me/blog/how-to-get-a-great-computer-science-internship [R=301,L]
RewriteRule ^post/62548615920(.*) http://danoc.me/blog/binghamton-university-at-mhacks [R=301,L]
RewriteRule ^post/67673299074(.*) http://danoc.me/blog/interning-at-optimizely-building-the-mobile-dashboard [R=301,L]
RewriteRule ^post/71363367609(.*) http://danoc.me/blog/ill-be-back-at-optimizely-after-graduation [R=301,L] 