RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^blog\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

Redirect 301 /acpsf http://danoc.github.io/responsive-talk
Redirect 301 /talks/responsive http://blog.danoc.me/post/44367862783/responsive-web-design-for-college-newspapers

Redirect 301 /post/14447289066/plans-for-bupipedream http://danoc.me/blog/plans-for-bupipedream
Redirect 301 /post/14656793071/less-css-grid http://danoc.me/blog/less-css-grid
Redirect 301 /post/14730989330/early-preview http://danoc.me/blog/early-preview
Redirect 301 /post/14831427279/signs-of-progress http://danoc.me/blog/signs-of-progress
Redirect 301 /post/15556391633/legible-articles http://danoc.me/blog/legible-articles
Redirect 301 /post/15736692113/bupipedream-on-ipad http://danoc.me/blog/bupipedream-on-ipad
Redirect 301 /post/15762559659/fit-for-a-smartphone http://danoc.me/blog/fit-for-a-smartphone
Redirect 301 /post/15919857214/moving-to-wordpress http://danoc.me/blog/moving-to-wordpress
Redirect 301 /post/15968416150/display-current-temperature http://danoc.me/blog/display-current-temperature
Redirect 301 /post/16093529186/database-dump http://danoc.me/blog/database-dump
Redirect 301 /post/16096405227/highlight-wordpress-search-results http://danoc.me/blog/highlight-wordpress-search-results
Redirect 301 /post/16051985458/image-placement http://danoc.me/blog/image-placement
Redirect 301 /post/16258657840/pipe-dream-stats http://danoc.me/blog/pipe-dream-stats
Redirect 301 /post/16358726729/imported-to-wordpress http://danoc.me/blog/imported-to-wordpress
Redirect 301 /post/17670281132/launching-the-new-pipe-dream-website http://danoc.me/blog/launching-the-new-pipe-dream-website
Redirect 301 /post/18714910407/from-college-publisher-to-wordpress http://danoc.me/blog/from-college-publisher-to-wordpress
Redirect 301 /post/18729689786/online-college-media http://danoc.me/blog/online-college-media
Redirect 301 /post/19819620781/spring-fling-concert-announcement-takes-down-the-pipe http://danoc.me/blog/spring-fling-concert-announcement-takes-down-the-pipe
Redirect 301 /post/19913228146/concert-layout http://danoc.me/blog/concert-layout
Redirect 301 /post/20247289897/pipe-dream-todo-list http://danoc.me/blog/pipe-dream-todo-list
Redirect 301 /post/20396276847/wordpress-site-sync http://danoc.me/blog/wordpress-site-sync
Redirect 301 /post/20486429658/open-graph-preview http://danoc.me/blog/open-graph-preview
Redirect 301 /post/20531600981/pipe-bomb-idea http://danoc.me/blog/pipe-bomb-idea
Redirect 301 /post/20572783627/this-facebook-notice-took-way-too-long-to-design http://danoc.me/blog/this-facebook-notice-took-way-too-long-to-design
Redirect 301 /post/20751376228/wordpress-article-deck http://danoc.me/blog/wordpress-article-deck
Redirect 301 /post/26738967370/recent-updates http://danoc.me/blog/recent-updates
Redirect 301 /post/34468850592/wordpress-pharma-hack http://danoc.me/blog/wordpress-pharma-hack
Redirect 301 /post/34605192252/follow-pipe-dream-as-we-cover-hurricane-sandy-and http://danoc.me/blog/follow-pipe-dream-as-we-cover-hurricane-sandy-and
Redirect 301 /post/35106617712/pipe-dream-visits-chicago http://danoc.me/blog/pipe-dream-visits-chicago
Redirect 301 /post/36315431227/startup-deas http://danoc.me/blog/startup-deas
Redirect 301 /post/36563960560/interview-with-camayak http://danoc.me/blog/interview-with-camayak
Redirect 301 /post/36572312098/pipe-dream-server http://danoc.me/blog/pipe-dream-server
Redirect 301 /post/36959614701/facebook-newsfeed http://danoc.me/blog/facebook-newsfeed
Redirect 301 /post/37530763368/take-to-college-returns http://danoc.me/blog/take-to-college-returns
Redirect 301 /post/37881284935/moved-to-github http://danoc.me/blog/moved-to-github
Redirect 301 /post/38588385454/fall-2012 http://danoc.me/blog/fall-2012
Redirect 301 /post/39614524151/pipe-dream-redesign http://danoc.me/blog/pipe-dream-redesign
Redirect 301 /post/40233716965/mobile-mockup http://danoc.me/blog/mobile-mockup
Redirect 301 /post/43173313539/what-ive-been-up-to http://danoc.me/blog/what-ive-been-up-to
Redirect 301 /post/44044442923/pipe-dream-now-supports-twitter-cards-all-it http://danoc.me/blog/pipe-dream-now-supports-twitter-cards-all-it
Redirect 301 /post/44367862783/responsive-web-design-for-college-newspapers http://danoc.me/blog/responsive-web-design-for-college-newspapers
Redirect 301 /post/46073307231/spring-fling-announcement-and-analytics http://danoc.me/blog/spring-fling-announcement-and-analytics
Redirect 301 /post/58523267332/obama-to-visit-binghamton-university http://danoc.me/blog/obama-to-visit-binghamton-university
Redirect 301 /post/61425706269/on-interning-at-optimizely http://danoc.me/blog/on-interning-at-optimizely
Redirect 301 /post/61560908567/how-to-get-a-great-computer-science-internship http://danoc.me/blog/how-to-get-a-great-computer-science-internship
Redirect 301 /post/62548615920/binghamton-university-at-mhacks http://danoc.me/blog/binghamton-university-at-mhacks
Redirect 301 /post/67673299074/interning-at-optimizely-building-the-mobile-dashboard http://danoc.me/blog/interning-at-optimizely-building-the-mobile-dashboard
Redirect 301 /post/71363367609/ill-be-back-at-optimizely-after-graduation http://danoc.me/blog/ill-be-back-at-optimizely-after-graduation 