/* =================== */
/* === Base Styles === */
/* =================== */

html,
button,
input,
select,
textarea {
	color: #444;
}

body {
	font-family: Helvetica, Arial;
	font-size: 1em;
	line-height: 1.4;
	margin: 50px auto 0 auto;
	max-width: 748px;
}

a {
	color: #647a24;
	text-decoration: none;
}

a:visited {
	color: #84a130;
}

a:hover {
	color: #5a6e21;
}

a:active {
	color: #c61717;
}

a:focus {
	outline: thin dotted;
}

/* ===================== */
/* === Resume Header === */
/* ===================== */

.header {
	margin-bottom: 4em;
	color: #5E5E5E;
	font-size: .8em;
}

.resume-intro {
	float: left;
}

.resume-title {
	font-size: 2.1em;
	margin: 0;
	text-transform: uppercase;
}

.resume-title a,
.resume-title a:visited {
	color: #414141;
}

.resume-title a:hover {
	color: #5a5a5a;
}

.resume-description {
	margin: 0;
}

.resume-contact {
	color: #919191;
	float: right;
	text-align: right;
	margin-top: 10px;
}

/* ====================== */
/* === Resume Content === */
/* ====================== */

.section {
	margin: 0 0 3.5em 0;
}

.section-title {
	border-bottom: 1px solid #efefef;
	color: #414141;
	font-size: 1.3em;
	margin-bottom: 0.6em;
	padding-bottom: 0.3em;
}

.section-title a,
.section-title a:visited {
	color: #414141;
}

.section-title a:hover {
	color: #5a5a5a;
}

.section-item-title {
	font-size: 1em;
}

.section-item-location {
	font-weight: normal;
	font-size: .95em;
}

.section-item {
	margin: 0 0 1.3em 0;
}

.section-item-title {
	margin: 0;
}

.section-item-description, .section-item-position {
	color: #919191;
	font-size: 0.9em;
	margin: 0.2em 0 0 0;
	max-width: 70%;
}

.section-item-description {
}

.section-item-list {
	margin-top: 0.3em;
}

.section-item-list li {
	font-size: .8em;
	margin: 0;
}

.section-item-date {
	font-size: .9em;
	float: right;
	font-weight: 600;
}

.section-item dl {
	font-size: .8em;
}

.section-item dt {
	clear: left;
	float: left;
	font-weight: 600;
	width: 6.250em;
}

.section-item dd {
	margin-left: 6.250em;
}

/* ====================== */
/* === Helper classes === */
/* ====================== */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* ==================== */
/* === Print Styles === */
/* ==================== */

@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	body {
		margin: 0;
	}

	html,
	.section-title {
		/*color: #222;*/
	}

	@page {
		margin: 1cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	.header {
		margin-bottom: 1.8em;
	}

	.section {
		margin-bottom: 1.2em;
	}

	.section-title {
		font-size: 1.1em;
		margin-bottom: 0.4em;
	}

	.section-item a {
		color: #444;
	}

	.section-item-position {
		margin-top: 0;
	}

	.section-item {
		margin-bottom: 0.6em;
	}

	.section-item-list {
		margin-bottom: 0;
		margin-top: 0.1em;
	}

	.hide-print {
		display: none;
	}
}
