{% extends "_layouts/blog.html" %}

{% block title %}Posts | {{ site.name | safe }}{% endblock %}

{% block description %}Thoughts and ramblings of a UI Engineer.{% endblock %}

{% block post %}
<section class="section post-index">
  <h2 class="section-title">
    <a id="posts" href="#posts">Posts</a>
  </h2>

  <ul class="posts-list">
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}" class="posts-list-title">{{ post.title }}</a> -
      <time class="posts-list-date" datetime="{{ post.date }}">
        {{ post.formattedDate }}
      </time>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
